<div class="input-wrapper">
  @if (!isCheckbox() && label()) {
    <label class="block mb-2 font-semibold" [class.text-error]="hasError">
      {{ label() }}
    </label>
  }
   @if (isCheckbox()) {
    <input type="checkbox" [formControl]="control()" class="checkbox" />
     <span class="text-sm" [class.text-error]="hasError">
      {{ label() || placeholder() }}
    </span>
  } @else {
    <input
      [type]="type()"
      [formControl]="control()"
      [attr.placeholder]="placeholder()"
      class="rounded-md p-2 w-full border border-gray-300 transition"
      [class.border-error]="hasError"
      [attr.maxlength]="maxLength()"
    />
  }
  <div class="mt-1" [class.min-h-[35px]]="!isCheckbox()">
    @if (errors()?.length && hasError) {
      @for (error of errors(); track error.message) {
        @if (hasErrorByType(error.types)) {
          <app-message>
            {{ error.message }}
          </app-message>
        }
      }
    }
  </div>
</div>


